@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: outfit;
}

.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}